.first-page {
  background-color: #fff;
  background-image: url("Images/desktop-bg/Header-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 45rem;
  -webkit-border-radius: 0 0 0 5rem;
  -moz-border-radius: 0 0 0 5rem;
  -ms-border-radius: 0 0 0 5rem;
  -o-border-radius: 0 0 0 5rem;
  border-radius: 0 0 0 5rem;
}

body {
  background-color: #e5e5e5;
}

.container {
  background-color: #fff;
}

.nav-container {
  background-color: #fff;
}

.empty-container {
  min-height: 10rem;
}

.para {
  max-width: 70%;
}

.card-container {
  background-color: #e5e5e5;
}

.card-bg {
  background-color: #fff;
}

.lang-clr {
  background-color: #f7f7f9;
}

.about-sec {
  background-color: #fff;
  -webkit-border-radius: 0 5rem 0 0;
  -moz-border-radius: 0 5rem 0 0;
  -ms-border-radius: 0 5rem 0 0;
  -o-border-radius: 0 5rem 0 0;
  border-radius: 0 5rem 0 0;
}

.contact {
  background-color: #6070ff;
  background-image: url("Images/bg-contact-me/contact-me-shapes.svg");
  background-repeat: no-repeat;
  background-position: right;
  min-height: 45rem;
  -webkit-border-radius:  5rem 0 0 0;
  -moz-border-radius:  5rem 0 0 0;
  -ms-border-radius:  5rem 0 0 0;
  -o-border-radius:  5rem 0 0 0;
  border-radius:  5rem 0 0 0;
}

.contact-container {
  max-width: 40%;
}